@import "../styles.scss";

.chat-msg-container {
  background-color: $color-blue-300;
  border-radius: 6px;
  align-self: flex-start;

  .msg-details {
    color: $color-blue-50;
    margin-bottom: 0;
    font-size: small;
    display: flex;
    justify-content: space-between;

    .username {
      margin-right: 30px;
    }

    p {
      margin-bottom: 0;
      text-align: end;
      font-size: 10px;
    }
  }

  .msg-content {
    margin-bottom: 0;
  }
}

.my-message {
  background-color: $color-blue-700;
  align-self: flex-end;

  .msg-details {
    color: $color-blue-100;
  }
}

.bot-message {
  align-self: center;
  font-size: 0.8rem;
  background-color: transparent;
  background-color: $color-blue-100;
  opacity: 0.8;
}
